<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Object oriented Tests" verbose="1">
    <test name="Roman Numeral Converter Tests">
        <classes>
            <class name="romanNumeralClasses.RomanNumeralConverterTest"/>
        </classes>
    </test>
</suite>
